body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 13px;
	color: #061C37;
	background-image:none;
	background-repeat:repeat-x;
	background-color: #EEEFE4;
	font-family: Arial, Helvetica, sans-serif;
}
*
{
	text-align:left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: none;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0px;
}


.wid_center{
	width: 1000px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}


#container
{
	display: block;
	height:auto;
	position: relative;
	width: 1000px;
}

#container-menu
{
	display: block;
	height:auto;
	position: relative;
	width: 100%;
}


#container-top
{
	display: block;
	height:auto;
	position: relative;
	width: 100%;
	background-color: #666666;
}

#header
{
	height:auto;
	width:100%;
	background-color: #666666;
}

#header h1
{
	position:relative;
	text-align:left;
	color:#FFFFFF;
	font-size:43px;
	color:#FFF;
	left:0px;
	top:0px;
	width: 1000px;
}


#header h2
{
	position:relative;
	text-align:right;
	color:#A9D1FA;
	top:0px;
	width:1000px;
	bottom: 10px;
	padding-bottom: 5px;
}

#header h3
{
	position:relative;
	text-align:left;
	color:#FF0000;
	top:0px;
	width:1000px;
	right: 0px;
}

#header h4
{
	position:relative;
	text-align:center;
	color:#000000;
	top:0px;
	width:1000px;
	right: 0px;
	background-color: #CCCCCC;
}


#header h5
{
	position:relative;
	text-align:left;
	color:#FFFFFF;
	font-size:43px;
	color:#FFF;
	left:0px;
	top:0px;
	width: 300px;
	margin-left: 0px;
}

#menu
{
	display:block;
	float:left;
	clear:both;
	width:100%;
	height:54px;
	float:left;
	clear:both;
	background-color: #000000;
	padding-bottom: 0px;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:960px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	float: left;
	height: 36px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 18px;
	font-size: 15px;
	padding-left:13px;
	padding-right:13px;
	
}

#menu a:hover{
	color:#86AEF9;
	background-image:url(images/linkbackground.jpg);
	background-repeat:repeat-x;
}




#logo{
	width: 100%;
	height: 46px;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
}


.wid_center{
	width: 1000px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}


 


#intro{
	clear: both;
	padding-top: 36px;
	text-align: center;
	padding-bottom: 0px;
}


.box_center{
	padding: 15px 15px 15px 15px;
	background-color: #FFFFFF;
	width: auto;
	margin-left: 0px;
}


/* left menu */

#leftmenu
{
	margin-top:0px;
	width:204px;
	float:left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

 
}
#leftmenu_main
{
	width:204px;
	height:auto;
	background-color:#006495;
}

#leftmenu_main ul
{
list-style: none;
padding: 0px;
width:204px;
}


#leftmenu_main h3
{
list-style: none;
padding: 0px;
width:204px;
color:#FFFFFF;
padding-left:10px;
padding-bottom:14px;
}

#leftmenu_main ul li
{
list-style: none;
padding: 0px;
width:204px;
text-align:left;
}

#leftmenu_main ul li a, #leftmenu_main ul li a:visited
{
	display:block;
	list-style: none;
	width:179px;
	padding-left:25px;
	padding-top:10px;
	height:25px;
	text-align:left;
	background-image:url(images/leftmenu_link.png);
	background-repeat:repeat-x;
	margin-top:2px;
	color:#FFFFFF;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	padding-right: 0px;
	padding-bottom: 0px;
}

#leftmenu_main ul li a:hover
{
color:#87BCF8;
	
	
}
